= form_for([@movie, Comment.new]) do |f|

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :user
    = f.hidden_field :user_id, :value => current_user.id
  .field
    = f.label :movie
    = f.hidden_field :movie_id, :value => @movie.id
  .actions
    = f.submit 'Save'
