%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  %p= render 'comments/form', movie_id: @movie

  %h2= "Comments"
  - @comments.each do |comment|
    %p= comment.body
    %p= "by: " + comment.user.name
